// 提供全局样式变量

// 左侧导航栏宽度
$base-menu-width: 260px;

// 顶部导航高度
$base-tabbar-height: 100px;

// 左侧导航栏颜色
$base-menu-background: #001529;

// 左侧logo高度
$base-menu-logo-hegiht: 50px;

// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
